extractSeqSubsets
excludeSeqsBySAM
getSubSeqs
filterSeqSize
getSeqCGstats
getSeqCountTable
getSeqQCStats
getSeqSizeChart
getSeqSizeList
getSeqSizeStats
getSeqSizeStatsT
reverseComplement
splitSeqsIntoXFiles
tallyGeneCoverageSamGZ
tallySNPs2
mergeKmerCounts
buildKmerChaos
