extractSeqSubsets
excludeEveryXSeq
excludeSeqsBySAM
extractEveryXSeq
getSubSeqs
filterSeqSize
getSeqCGstats
getSeqCountTable
getSeqQCStats
getSeqSizeChart
getSeqSizeList
getSeqSizeStats
reverseComplement
splitSeqsIntoXFiles
tallyGeneCoverageSamGZ
tallySNPs2
mergeKmerCounts
